extends layout

block content 
    .flex.justify-center.items-center
        .card.bg-neutral.shadow-xl.my-6(class='w-1/2')
            .card-body.flex.flex-col.items-start
                h1.text-2xl= blogDetail.title 
                .my-6!= blogDetail.body
                p.my-6= blogDetail.author.username

    if blogDetail.comments
        h1.text-center.text-lg.font-semibold Comments
        each comment in blogDetail.comments
            .flex.justify-center.items-center
                flex.flex-col.items-start.my-6(class='w-1/2')
                    .divider
                    p= comment.message
                    p= comment.date

    form.flex.justify-center(method='POST' action='/blog/' + blogDetail._id + '/comment')
        .form-control.flex.flex-col.justify-center(class='w-1/2')
            label.label.mt-6
                span.label-text Add a comment
            textarea.textarea.textarea-bordered(placeholder='type comment here' name='comment' required)
            button(type='submit').btn.btn-primary.mt-6 Post Comment